body {
    background: linear-gradient(45deg, #111314, #28292b, #292d31, #161718, #232324, #111314);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 600% 600%;
    animation: gradientAnimation 20s ease infinite;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p, td, span {
    font-family: 'Raleway', monospace;
    color: white;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}