body {
    background: linear-gradient(45deg, #111314, #28292b, #292d31, #161718, #232324, #111314);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 800% 800%;
    animation: gradientAnimation 16s ease infinite;
}

img {
    flex: 0 0 auto;
    margin: 10px;
    border-radius: 5px;
}

hr {
    box-shadow: 0 0 6px white;
    margin: 20px;
}

h1.titulo {
    display: inline-block;
    position: relative;
    font-size: 42px;
    font-style: normal;
    letter-spacing: 3px;
    transform: skewX(-10deg);
}

h1.titulo.finalizado { text-shadow: 0 0 6px #00ff00; }
h1.titulo.finalizado::before { box-shadow: 0 0 6px #00ff00; }
h1.titulo.wip { text-shadow: 0 0 6px #ffff00; }
h1.titulo.wip::before { box-shadow: 0 0 6px #ffff00; }

h1.titulo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

h1.titulo:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

.divisorProyectos {
    text-align: center;
}

.contenedorProyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    text-align: left;
}

.contenedorProyectos > * {
    visibility: visible;
}

.proyecto {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-basis: 49.4%;
    align-items: center;
    margin: 5px;
    transition: background-color 0.3s ease, 0.2s all;
    border-radius: 3px;
}

.proyecto:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.contenedorProyectos:hover .proyecto{
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}

.contenedorProyectos:hover .proyecto:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.descripcion {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: justify;
    margin-right: 10px;
}

.plataforma {
    font-family: 'Raleway', sans-serif;
    color: #b3b3b3;
    font-size: 11px;
}

.titulo {
    font-family: 'Raleway', monospace;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 0 2px #ffffff;
    color: white;
    font-style: italic;
}

.nuevo::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 0);
    animation: newAnimation 6s linear infinite;
    text-shadow: 0 0 8px rgb(255, 255, 0);
    content: 'Nuevo';
    position: absolute;
    top: 10px;
    left: 10px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes newAnimation {
    0% { color: yellow; text-shadow: 0 0 8px rgb(255, 255, 0); }
    8% { color: white; text-shadow: 0 0 8px white; }
    16% { color: yellow; text-shadow: 0 0 8px rgb(255, 255, 0); }
}
