@font-face {
    font-family: 'PressStart2P';
    src: url('./PressStart2P-Regular.ttf') format('truetype');
}

body {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
}

div.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
}

canvas {
    border: 2px solid white;
    background-color: black;
    margin: 0 auto;
    image-rendering: pixelated;
}

h1 {
    font-family: 'PressStart2P', sans-serif;
    font-size: 32px;
    color: white;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}