@font-face {
    font-family: 'PressStart2P';
    src: url('../PressStart2P-Regular.ttf') format('truetype');
}

#controlsdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 9;
    background: linear-gradient(45deg, #2c3133, #28292b, #292d31, #282a2c, #212124, #242a2c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 600% 600%;
    animation: gradientAnimation 18s ease infinite;
    border: 1px solid #3d3d47;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    left: 8%;
    top: 50%;
}

#controlsdivheader {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: move;
    z-index: 10;
}

#controlsdiv hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#controlsdiv ul {
    padding-left: 8px;
    padding-right: 8px;
}

#controlsdiv li {
    font-family: 'PressStart2P', sans-serif;
    color: white;
    list-style-type: none;
    font-size: 7px;
    text-align: left;
}

#controlsdiv li+li {
    margin-top: 8px;
}

#controlsdiv label {
    font-family: 'PressStart2P', sans-serif;
    color: white;
    font-size: 13px;
    cursor: move;
}

#controlsdiv span.control {
    color: rgb(0, 255, 255);
}