body {
    background: linear-gradient(45deg, #111314, #28292b, #292d31, #161718, #232324, #111314);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 600% 600%;
    animation: gradientAnimation 20s ease infinite;
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
}

div {
    display: grid;
    place-items: top;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 2%;
}

canvas {
    border: 2px solid white;
    background-color: black;
    margin: 0 auto;
    display: block;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p, td, span {
    font-family: 'Raleway', monospace;
    color: white;
}

li {
    font-family: 'Raleway', sans-serif;
    color: white;
    list-style-type: none;
    font-size: 16px;
}

li:first-child {
    margin-bottom: 7px;
    font-size: 24px;
}

div.controls {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}