.filterbar-container {
    display: inline-block;
    position: relative;
}

.filterbar-container::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 11px;
    background-color: var(--ld-filterbar-text-secondary);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    top: calc(50% - 5.5px);
    right: 15px;
    transition: background-color 0.8s;
    pointer-events: none;
}

.filterbar-container:hover::after {
    background-color: var(--ld-filterbar-text-primary);
}

.filterbar-select {
    font-family: 'Railway', sans-serif;
    width: 230px;
    height: 52px;
    padding: 0px 20px 0px 10px;
    border: 1px solid var(--ld-filterbar-text-primary);
    border-left: none;
    margin: 0;
    outline: none;
    border-radius: 0px 30px 30px 0px;
    color: var(--ld-filterbar-text-secondary);
    background-color: var(--ld-filterbar-background-primary);
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    text-overflow: ellipsis;
    transition: color 0.2s;
}

.filterbar-select:hover, .filterbar-select:focus {
    background-color: var(--ld-filterbar-background-secondary);
    color: var(--ld-filterbar-text-primary);
}

.filterbar-optgroup {
    color: var(--ld-filterbar-text-primary);
}

.filterbar-option {
    font-family: 'Railway', sans-serif;
    background-color: var(--ld-filterbar-background-primary);
    color: var(--ld-filterbar-text-secondary);
    font-size: 13px;
}

@media (max-width: 882px) {
    .filterbar-container::after {
        width: 11px;
        height: 10px;
        top: calc(50% - 5px);
        right: 14px;
    }

    .filterbar-select {
        width: 220px;
        height: 48px;
        padding: 0px 18px 0px 10px;
        font-size: 13px;
    }

    .filterbar-option {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .filterbar-container::after {
        width: 10px;
        height: 9px;
        top: calc(50% - 4.5px);
        right: 13px;
    }

    .filterbar-select {
        width: 200px;
        height: 42px;
        padding: 0px 16px 0px 9px;
        font-size: 12px;
    }

    .filterbar-option {
        font-size: 11px;
    }
}

@media (max-width: 408px) {
    .filterbar-container::after {
        width: 9px;
        height: 8px;
        top: calc(50% - 4px);
        right: 12px;
    }

    .filterbar-select {
        width: 180px;
        height: 38px;
        padding: 0px 14px 0px 8px;
        font-size: 11px;
    }

    .filterbar-option {
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .filterbar-container::after {
        width: 8px;
        height: 7px;
        top: calc(50% - 3.5px);
        right: 10px;
    }

    .filterbar-select {
        width: 160px;
        height: 34px;
        padding: 0px 12px 0px 4px;
        font-size: 10px;
    }

    .filterbar-option {
        font-size: 9px;
    }
}