.searchbar-input {
    font-family: 'Railway', sans-serif;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid var(--ld-searchbar-text-primary);
    outline: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 14px;
    color: var(--ld-searchbar-text-secondary);
    background-color: var(--ld-searchbar-background-primary);
}

.searchbar-input:hover, .searchbar-input:focus {
    background-color: var(--ld-searchbar-background-secondary);
    color: var(--ld-searchbar-text-primary);
}

@media (max-width: 882px) {
    .searchbar-input {
        width: 190px;
        height: 46px;
        padding: 0 18px;
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .searchbar-input {
        width: 160px;
        height: 40px;
        padding: 0 14px;
        font-size: 12px;
    }
}

@media (max-width: 408px) {
    .searchbar-input {
        width: 130px;
        height: 36px;
        padding: 0 12px;
        font-size: 11px;
    }
}

@media (max-width: 340px) {
    .searchbar-input {
        width: 100px;
        height: 32px;
        padding: 0 10px;
        font-size: 10px;
    }
}