.upgrade-item-body {
    width: 49%;
}

.upgrade-item-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    transition: border-radius 0.5s, border 0s;
    transition-delay: 0.5s;
    border: #ffffff 1px solid;
    animation: boxRainbowShadow 3s infinite linear;

    &:hover {
        background-color: #464646;
    }

    &:active {
        background-color: #565656;
    }

    &.upgrade-item-container-active {
        border-radius: 10px 10px 0px 0px;
        transition: border-radius 0s;
        border-bottom: none;
    }

    &.upgrade-item-container-bought {
        border-color: #04AA6D;
    }
}

.upgrade-item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-style: normal;
    margin: 0px 10px 0px 10px;
    pointer-events: none;
}

.upgrade-item-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0px 10px 0px 0px;
    pointer-events: none;
}

.upgrade-item-price-label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    font-style: normal;
    margin: 0px 0px 0px 0px;

    &.upgrade-item-price-label-bought {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        font-style: italic;
        color: #d1d1d1;
    }
}

.upgrade-item-image {
    width: 20px;
    image-rendering: pixelated;
    border-radius: 2px;
    aspect-ratio: 1/1;
}

.upgrade-item-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    overflow: hidden;
    max-height: 0px;
    box-shadow: none;
    border: white 0px solid;
    transition: all 0.5s ease-out;
    border-radius: 0px 0px 10px 10px;
    z-index: 0;

    &.upgrade-item-details-container-active {
        max-height: 210px;
        transition: all 0.5s ease-in;
        border: white 1px solid;
        border-top: none;
        animation: boxRainbowShadow 3s infinite linear;
    }

    &.upgrade-item-details-container-bought {
        border-color: #04AA6D;
    }
}

.upgrade-item-description {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    font-style: normal;
    margin: 15px 20px 0px 20px;
}

.upgrade-item-buy-button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    font-style: normal;
    background-color: #363636;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 15px 20px 15px 20px;
    animation: boxRainbowShadow 3s infinite linear;

    &:hover {
        background-color: #464646;
    }

    &.upgrade-item-buy-button-affordable:active {
        background-color: #04AA6D;
    }

    &.upgrade-item-buy-button-unaffordable:active {
        background-color: #b90b0b;
    }

    &.upgrade-item-bought-button {
        cursor: not-allowed;
        animation: backgroundRainbow 3s infinite linear;
    }
}

.upgrade-item-bought-text {
    font-family: 'Raleway', sans-serif;
    color: #d1d1d1;
    font-size: 12px;
    font-style: normal;
    margin: 0px 20px 15px 20px;
}

@keyframes boxRainbowShadow {
    0% { box-shadow: 0 0 6px #04AA6D; }
    12% { box-shadow: 0 0 6px #0797a1; }
    24% { box-shadow: 0 0 6px #064bb3; }
    36% { box-shadow: 0 0 6px #4309c9; }
    48% { box-shadow: 0 0 6px #b60b7d; }
    60% { box-shadow: 0 0 6px #b90b0b; }
    72% { box-shadow: 0 0 6px #b4870a; }
    84% { box-shadow: 0 0 6px #a5b60b; }
    96% { box-shadow: 0 0 6px #11ad26; }
    100% { box-shadow: 0 0 6px #04AA6D; }
}

@keyframes backgroundRainbow {
    0% { background-color: #04AA6D; }
    12% { background-color: #0797a1; }
    24% { background-color: #064bb3; }
    36% { background-color: #4309c9; }
    48% { background-color: #b60b7d; }
    60% { background-color: #b90b0b; }
    72% { background-color: #b4870a; }
    84% { background-color: #a5b60b; }
    96% { background-color: #11ad26; }
    100% { background-color: #04AA6D; }
}

@media (max-width: 1136px) {
    .upgrade-item-details-container {
        &.upgrade-item-details-container-active {
            max-height: 100%;
        }
    }
}

@media (max-width: 770px) {
    .upgrade-item-body {
        width: 100%;
    }
}