html {
    overscroll-behavior-y: none; /* Desactivar el efecto de rebote al llegar al principio/final de la página */
    overflow-x: hidden;
}

body {
    background: linear-gradient(45deg, #111314, #28292b, #292d31, #161718, #232324, #111314);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 800% 800%;
    animation: gradientAnimation 60s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}