:root {
    --titleSize: 36px;

    --ld-scrollbar-primary: #3d3d47;
    --ld-scrollbar-secondary: #111314;
    --ld-nopage-text: white;
    --ld-aboutme-text-primary: white;
    --ld-aboutme-text-secondary: #9c9c9c;
    --ld-aboutme-text-tertiary: #c1d6d5;
    --ld-aboutme-background-primary: #ffffff0f;
    --ld-aboutme-background-secondary: #ffffff1f;
    --ld-aboutme-background-tertiary: #ffffff2f;
    --ld-projects-text: white;
    --ld-shop-text: white;
    --ld-shop-background-primary: #1e2224;
    --ld-shop-background-secondary: #2e3335;
    --ld-shop-background-tertiary: #3e4345;
    --ld-all-background-1: #111314;
    --ld-all-background-2: #28292b;
    --ld-all-background-3: #292d31;
    --ld-all-background-4: #161718;
    --ld-all-background-5: #232324;
    --ld-bananaclicker-text: white;
    --ld-filterbar-text-primary: white;
    --ld-filterbar-text-secondary: #b1b1b1;
    --ld-filterbar-background-primary: #111314;
    --ld-filterbar-background-secondary: #1e2224;
    --ld-searchbar-text-primary: white;
    --ld-searchbar-text-secondary: #b1b1b1;
    --ld-searchbar-background-primary: #111314;
    --ld-searchbar-background-secondary: #1e2224;
    --ld-navbar-text-primary: white;
    --ld-navbar-text-secondary: #b1b1b1;
    --ld-navbar-background-primary: #111314;
    --ld-navbar-background-secondary: #222222;
    --ld-footerbar-text-primary: white;
    --ld-footerbar-text-secondary: #d1d1d1;
    --ld-footerbar-background-primary: #111314;
    --ld-footerbar-background-secondary: #ffffff0f;
    --ld-footerbar-background-tertiary: #ffffff1f;
    --ld-popup-text: white;
    --ld-popup-background-primary: #3d3d47;
    --ld-popup-background-1: #2c3133;
    --ld-popup-background-2: #28292b;
    --ld-popup-background-3: #292d31;
    --ld-popup-background-4: #282a2c;
    --ld-popup-background-5: #212124;
    --ld-popup-background-6: #242a2c;
    --ld-project-text-primary: white;
    --ld-project-text-secondary: #b3b3b3;
    --ld-project-background-primary: black;
    --ld-project-background-secondary: #00000020;
    --ld-project-background-tertiary: #ffffff0d;
    --ld-upgradeitem-text-primary: white;
    --ld-upgradeitem-text-secondary: #d1d1d1;
    --ld-upgradeitem-background-primary: #363636;
    --ld-upgradeitem-background-secondary: #464646;
    --ld-upgradeitem-background-tertiary: #565656;
    --ld-upgradeitem-button-primary: #272727;
    --ld-switch-text: white;
    --ld-switch-background-primary: black;
    --ld-switch-background-secondary: #252627;
    --ld-switch-background-tertiary: #3d3d47;
}

[data-theme="light"] {
    --TODO:
}

html {
    scrollbar-color: var(--ld-scrollbar-primary) var(--ld-scrollbar-secondary);
}

body {
    margin: 0px;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 882px) {
    :root { --titleSize: 24px; }
}

@media (max-width: 600px) {
    :root { --titleSize: 21px; }
}

@media (max-width: 408px) {
    :root { --titleSize: 20px; }
}

@media (max-width: 340px) {
    :root { --titleSize: 23px; }
}