:root {
    --titleSize: 36px;
}

html {
    scrollbar-color: var(--ld-scrollbar-primary) var(--ld-scrollbar-secondary);
}

body {
    margin: 0px;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 882px) {
    :root { --titleSize: 24px; }
}

@media (max-width: 600px) {
    :root { --titleSize: 21px; }
}

@media (max-width: 408px) {
    :root { --titleSize: 20px; }
}

@media (max-width: 340px) {
    :root { --titleSize: 23px; }
}