.projects-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px 0px;
}

.projects-title {
    font-family: 'Raleway', monospace;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 50px;
    font-style: normal;
    margin: 60px 0px 0px 0px;
    animation: showAnimation 3s, textRainbowShadow 3s infinite linear;
    letter-spacing: 3px;
    transform: skewX(-10deg);
}

.projects-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    animation: boxRainbowShadow 3s infinite linear;
    bottom: 0px;
    left: 0px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.projects-title:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    margin: 40px 0px 40px 0px;
}

/* Con esto se consigue que la propiedad hover de los proyectos no sea activada si el ratón está fuera del proyecto */
.projects-container > * {
    visibility: visible;
}

@keyframes showAnimation {
    from { opacity: 0; visisibility: hidden; }
    to { opacity: 1; visibility: visible; }
}

@keyframes textRainbowShadow {
    0% { text-shadow: 0 0 6px #04AA6D; }
    12% { text-shadow: 0 0 6px #0797a1; }
    24% { text-shadow: 0 0 6px #064bb3; }
    36% { text-shadow: 0 0 6px #4309c9; }
    48% { text-shadow: 0 0 6px #b60b7d; }
    60% { text-shadow: 0 0 6px #b90b0b; }
    72% { text-shadow: 0 0 6px #b4870a; }
    84% { text-shadow: 0 0 6px #a5b60b; }
    96% { text-shadow: 0 0 6px #11ad26; }
    100% { text-shadow: 0 0 6px #04AA6D; }
}

@keyframes boxRainbowShadow {
    0% { box-shadow: 0 0 6px #04AA6D; }
    12% { box-shadow: 0 0 6px #0797a1; }
    24% { box-shadow: 0 0 6px #064bb3; }
    36% { box-shadow: 0 0 6px #4309c9; }
    48% { box-shadow: 0 0 6px #b60b7d; }
    60% { box-shadow: 0 0 6px #b90b0b; }
    72% { box-shadow: 0 0 6px #b4870a; }
    84% { box-shadow: 0 0 6px #a5b60b; }
    96% { box-shadow: 0 0 6px #11ad26; }
    100% { box-shadow: 0 0 6px #04AA6D; }
}

@media (max-width: 882px) {
    .projects-title {
        font-size: 35px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .projects-title {
        font-size: 25px;
        margin-top: 22px;
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media (max-width: 408px) {
    .projects-title {
        font-size: 19.5px;
        margin-top: 18px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 340px) {
    .projects-title {
        font-size: 22px;
        margin-top: 18px;
        margin-left: 8px;
        margin-right: 8px;
    }
}