.fwdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #2c3133, #28292b, #292d31, #282a2c, #212124, #242a2c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 600% 600%;
    animation: gradientAnimation 18s ease infinite;
    border: 1px solid #3d3d47;
    border-radius: 3px;
    text-align: center;
    align-items: center;
}

#controlsdiv {
    z-index: 10;
    left: 3%;
    top: 20%;
}

#optionsdiv {
    z-index: 9;
    left: 5%;
    top: 50%;
}

#scoreboarddiv {
    z-index: 11;
    left: 77.5%;
    top: 38%;
    padding: 5px;
}

#timediv {
    z-index: 12;
    left: 80%;
    top: 20%;
    padding: 5px;
}

.fwdivheader {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: move;
    z-index: 99;
}

.fwdiv hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.fwdiv ul, .fwdiv ol {
    padding-left: 8px;
    padding-right: 8px;
}

.fwdiv li {
    font-family: 'Raleway', sans-serif;
    color: white;
    list-style-type: none;
    font-size: 11px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

#optionsdiv li:has( > * ) {
    justify-content: space-between;
}

#controlsdiv li.ignoreFlex {
    display: inline-block !important;
}

#optionsdiv select option, #optionsdiv select, #optionsdiv input, #optionsdiv .customImage {
    background: rgb(41, 41, 41);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    margin-left: 15px;
}

#optionsdiv input:disabled {
    background: rgb(41, 41, 41);
    color: #808182;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#optionsdiv input[type="file"] {
    display: none;
}
#optionsdiv .customImage {
    border: 1px solid #767676;
    font-size: 12px;
    padding: 3px 6px;
    cursor: pointer;
}
#optionsdiv .customImage:hover {
    background: #3d3d47;
}

.fwdiv li+li {
    margin-top: 8px;
}

.fwtitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: move;
}

#controlsdiv span.control {
    color: rgb(0, 255, 255);
}

#controlsdiv img.control {
    width: 20px;
    height: 20px;
    filter: invert(93%) sepia(23%) saturate(2165%) hue-rotate(104deg) brightness(104%) contrast(102%);
    margin-right: 5px;
    aspect-ratio: 1 / 1;
}

#controlsdiv {
    max-width: 280px;
}

#scoreboarddiv label.credits, #scoreboarddiv label.status {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: white;
    max-width: 260px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}

label.status {
    font-weight: bold;
}

#scoreboarddiv li {
    text-align: left;
    height: 10px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

#scoreboarddiv li > span.name {
    text-align: center;
    font-weight: bold;
}

#scoreboarddiv li > span.score, #scoreboarddiv li > span.number {
    width: 92px;
    font-weight: bold;
}

#scoreboarddiv li > span.score {
    text-align: right;
}

#scoreboarddiv li:nth-child(1) {
    background: linear-gradient(to right, rgba(255, 255, 0, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 0, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 145, 0, 0.25), rgba(255, 255, 0, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 0, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 0, 0.25), rgba(255, 255, 255, 0.25));
    animation: goldenAnimation 4s linear infinite;
    background-size: 400% auto;
    height: 35px;
    font-size: 13.5px;
}
#scoreboarddiv li:nth-child(1) > span.score {
    font-size: 12.5px;
}

#scoreboarddiv li:nth-child(2) {
    background: linear-gradient(to right, rgba(192, 192, 192, 0.25), rgba(255, 255, 255, 0.25), rgba(192, 192, 192, 0.25), rgba(255, 255, 255, 0.25), rgba(192, 192, 192, 0.25), rgba(192, 192, 192, 0.25), rgba(255, 255, 255, 0.25), rgba(192, 192, 192, 0.25), rgba(255, 255, 255, 0.25), rgba(192, 192, 192, 0.25), rgba(255, 255, 255, 0.25));
    animation: silverAnimation 7s linear infinite;
    background-size: 500% auto;
    height: 29px;
    font-size: 13px;
}
#scoreboarddiv li:nth-child(2) > span.score {
    font-size: 12px;
}

#scoreboarddiv li:nth-child(3) {
    background: linear-gradient(to right, rgba(184, 115, 51, 0.25), rgba(255, 255, 255, 0.25), rgba(184, 115, 51, 0.25), rgba(255, 255, 255, 0.25), rgba(184, 115, 51, 0.25), rgba(184, 115, 51, 0.25), rgba(255, 255, 255, 0.25), rgba(184, 115, 51, 0.25), rgba(255, 255, 255, 0.25), rgba(184, 115, 51, 0.25), rgba(255, 255, 255, 0.25));
    animation: copperAnimation 10s linear infinite;
    background-size: 600% auto;
    height: 23px;
    font-size: 12.5px;
}
#scoreboarddiv li:nth-child(3) > span.score {
    font-size: 11.5px;
}

#scoreboarddiv ol {
    text-align: left;
    width: 100%;
    justify-content: space-between;
}

#timediv label.chronometer {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: cyan;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 4px;
}

/* Checkbox redondeado: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 5px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #252627;
    border: 1px solid #3d3d47;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(220, 242, 255);
}
input:focus + .slider {
    box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background-color: black;
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}
input:disabled + .slider {
    background-color: #252627;
}
input:disabled + .slider:before {
    background-color: #3d3d47;
}
/* Fin checkbox redondeado */

.hide {
    display: none !important;
}

.golden > *, .golden {
    color: yellow;
    text-shadow: 0 0 1px rgb(255, 255, 0);
    background: linear-gradient(to right, yellow, white, yellow, white, rgb(255, 145, 0), yellow, white, yellow, white, yellow, white);
    animation: goldenAnimation 6s linear infinite;

    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% auto;
}

.silver > *, .silver {
    color: silver;
    text-shadow: 0 0 1px rgb(192, 192, 192);
    background: linear-gradient(to right, silver, white, silver, white, rgb(192, 192, 192), silver, white, silver, white, silver, white);
    animation: silverAnimation 6s ease infinite;

    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% auto;
}

.copper > *, .copper {
    color: rgb(184, 115, 51);
    text-shadow: 0 0 1px rgb(184, 115, 51);
    background: linear-gradient(to right, rgb(184, 115, 51), white, rgb(184, 115, 51), white, rgb(184, 115, 51), rgb(184, 115, 51), white, rgb(184, 115, 51), white, rgb(184, 115, 51), white);
    animation: copperAnimation 6s ease infinite;

    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% auto;
}

@keyframes goldenAnimation {
    0% { background-position: 0% 50%; text-shadow: 0 0 1px yellow; }
    3% { background-position: 65% 50%; text-shadow: 0 0 2px rgb(255, 180, 0); }
    100% { background-position: 100% 50%; text-shadow: 0 0 1px yellow; }
}

@keyframes silverAnimation {
    0% { background-position: 0% 50%; text-shadow: 0 0 1px silver; }
    3% { background-position: 65% 50%; text-shadow: 0 0 2px rgb(141, 141, 141); }
    100% { background-position: 100% 50%; text-shadow: 0 0 1px silver; }
}

@keyframes copperAnimation {
    0% { background-position: 0% 50%; text-shadow: 0 0 1px rgb(184, 115, 51); }
    3% { background-position: 65% 50%; text-shadow: 0 0 2px rgb(156, 85, 18); }
    100% { background-position: 100% 50%; text-shadow: 0 0 1px rgb(184, 115, 51); }
}

img#passHelp {
    border: 1px solid white;
    border-radius: 50%;
    padding: 1.5%;
    background-color: #3d3d47;
    cursor: help;
    margin-right: 30%;
    transition: 1s;
}

img#passHelp:hover {
    border: 1px solid cyan;
    background-color: #212124;
}