:root { --tamTitulo: 36px; }

html {
    scrollbar-color: #3d3d47 #111314;
}

body {
    margin: 0px;
}

img.thumbnail {
    position: absolute;
    left: 0px;
    top: 0px;
    flex: 0 0 auto;
    border-radius: 5px;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.11;
    filter: blur(1.75px);
}

img.mostrar-thumbnail:hover + img.thumbnail {
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.5) !important;
    opacity: 1;
    z-index: 1;
    filter: blur(0px);
}

h1.titulo.finalizado + .contenedorProyectos img.thumbnail { box-shadow: 0px 8px 14px 3px rgba(0, 255, 0, 0.9); }
h1.titulo.wip + .contenedorProyectos img.thumbnail { box-shadow: 0px 8px 14px 3px rgba(255, 255, 0, 0.9); }

.proyecto:hover > img.thumbnail {
    box-shadow: 0px 8px 14px 3px rgba(0, 0, 255, 0.9) !important;
}

img.mostrar-thumbnail {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    z-index: 2;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);
    border-radius: 5px;
}

hr {
    box-shadow: 0 0 6px white;
    margin: 20px;
}

h1.titulo {
    display: inline-block;
    position: relative;
    font-size: 42px;
    font-style: normal;
    letter-spacing: 3px;
    transform: skewX(-10deg);
}

h1.titulo.finalizado { text-shadow: 0 0 6px #00ff00; }
h1.titulo.finalizado::before { box-shadow: 0 0 6px #00ff00; }
h1.titulo.wip { text-shadow: 0 0 6px #ffff00; }
h1.titulo.wip::before { box-shadow: 0 0 6px #ffff00; }

h1.titulo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

h1.titulo:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

p.titulo {
    margin: 10px;
    text-align: center;
}

.divisorProyectos {
    text-align: center;
    animation: aparecerAnimation 3s;
}

.contenedorProyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    text-align: left;
}

.contenedorProyectos > * {
    visibility: visible;
}

.proyecto {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-basis: 30%;
    align-items: center;
    margin: 8px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    transition: background-color 0.3s ease, 0.2s all;
    border-radius: 5px;
    min-width: 640px;
    max-width: 640px;
    min-height: 360px;
    max-height: 360px;
    cursor: pointer;
    border: #ffffff 1px solid;
}

.proyecto:hover {
    background-color: transparent;
}

.contenedorProyectos:hover .proyecto{
    filter: blur(2.5px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}

.contenedorProyectos:hover .proyecto:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.descripcion {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: justify;
    margin: 20px;
    font-size: 15px;
}

.plataforma {
    font-family: 'Raleway', sans-serif;
    color: #b3b3b3;
    font-size: 11px;
    margin: 20px;
}

.titulo {
    font-family: 'Raleway', monospace;
    font-size: var(--tamTitulo);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 0 2px #ffffff;
    color: white;
    font-style: italic;
}

.nuevo::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: yellow;
    text-shadow: 0 0 8px rgb(255, 255, 0);
    content: 'Nuevo';
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right, yellow, white, yellow, white, rgb(255, 94, 0), yellow, white, yellow, white, yellow, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% auto;
    animation: gradientAnimationNew 6s linear infinite;
    width: 100%;
    text-align: right;
}

.progreso::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #00ff00;
    text-shadow: 0 0 8px #70ff70;
    content: 'Sigue en desarrollo';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.pendiente::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #ff2600;
    text-shadow: 0 0 8px #ff3c00;
    content: 'Necesita actualizarse';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.intermitente::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #0059ff;
    text-shadow: 0 0 8px #2d5f8b;
    content: 'Desarrollo intermitente';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.pausado::after {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #8d8d8d;
    text-shadow: 0 0 8px #a5a5a5;
    content: 'Pausado';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.popup-mostrar {
    z-index: 2; /* El popup debe tener la mayor prioridad al mostrarse */
}

.popup-mostrar, .popup-esconder {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #2c3133, #28292b, #292d31, #282a2c, #212124, #242a2c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 600% 600%;
    animation: gradientAnimation 18s ease infinite, aparecerAnimation 0.5s ease;
    border-radius: 3px;
    cursor: default;
    opacity: 1;
}

.popup-esconder {
    animation: gradientAnimation 18s ease infinite, desaparecerAnimation 0.5s ease;
    opacity: 0;
}

.popup-parte-superior {
    display: flex;
}

.popup-label {
    display: flex;
    flex: 50%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.popup-boton {
    display: flex;
    background: url(/volver.svg) no-repeat;
    background-size: 40px 40px;
    width: 50px;
    height: 50px;
    background-position: center;
    border: 0px solid transparent;
    border-left: 1px solid #3d3d47;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.popup-linea {
    box-shadow: none;
    margin: 0px;
    background-color: #3d3d47;
    height: 1px;
    border: none;
}

.popup-parrafo {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 15px;
    margin: 30px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes gradientAnimationNew {
    0% { background-position: 0% 50%; text-shadow: 0 0 8px yellow; }
    5% { background-position: 65% 50%; text-shadow: 0 0 15px rgb(255, 180, 0); }
    100% { background-position: 100% 50%; text-shadow: 0 0 8px yellow; }
}

@keyframes aparecerAnimation {
    from { opacity: 0; visisibility: hidden; }
    to { opacity: 1; visibility: visible; }
}

@keyframes desaparecerAnimation {
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}